<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<h3>Your pokemon</h3>
<% @trainer.pokemons.each do |p| %>
	Name: <%= p.name %> </br>
	Level: <%= p.level %> </br>
</br>
<% end %>